.row-container{
    width: 100% !important;
    padding: 10px !important;
}


.div-card{
  background: rgb(68, 68, 68);
  height: 100% !important;
  width: 100% !important;
}

.div-card-2{
  background: rgb(68, 68, 68);
  height: 100% !important;
  width: 100% !important;
}

.div-card:hover{
  background-image: url('https://edteam-media.s3.amazonaws.com/blogs/original/3a814d55-14c2-4a93-8f91-28bf1af3efa5.jpg');
  transform: scale(1, 0);
  transition: all 1.5s ease;
}

.div-card-2:hover{
  background-image: url('https://edteam-media.s3.amazonaws.com/blogs/original/3a814d55-14c2-4a93-8f91-28bf1af3efa5.jpg');
  transform: scale(0, 1);
  transition:  1.5s ;
}

.text{
  position: relative;
  display: inline-block;
  color: black;
  text-transform: uppercase;
  animation: text 1s infinite;

}
@keyframes text {
  0%,40%,100% {
    transform: translateX(20px)
  }
  20% {
    transform: translateX(0px)
  }
}



.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50vh 100vh 50vh;
  background-color: #ffffff;

  .section {
      grid-row: 2;
      background-color: #FFF;

      .tunnel {
          animation-delay: inherit;
          background-image: url('https://images5.alphacoders.com/120/1205164.jpg');
          background-position: center;
          background-size: 400px;
          background-repeat: no-repeat;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 400px;
          position: sticky;
          top: 30vh;
          width: 100%; /* Ancho del contenedor */
          background-size: cover; /* La imagen se ajustará para cubrir todo el contenedor */
          background-repeat: no-repeat; /* Evita que la imagen se repita */
          background-position: center center; /* Centra la imagen en el contenedor */
          width: 100%; /* Ancho del contenedor */
          height: 100vh;

          .animate {
              animation: colorAnimation 1.1s linear infinite;
              animation-play-state: paused;
              animation-delay: inherit;
              width: 100px;
          }
      }
  }
}

@keyframes colorAnimation {
  from {
      transform: scale(4) translateY(15px);
  }
  to {
      transform: scale(0.25) translateY(-25px);
  }
}
