<nav class="navbar navbar-expand-xl  navbar-dark bg-dark-mobile text-white">
  <div class="container-fluid text-light">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/images/logo-vass.png" width="100" height="50" class="d-inline-block align-top imagen" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Casos de Exito</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mercados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Paises</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Somos Vass</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Como lo hacemos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Insights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Noticias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            VASS Research</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            EN</a>
        </li>
        <li class="nav-item d-none d-md-block ">
          <i   class="fa fa-search fa-2xl mt-3"></i>

        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Talento</a>
        </li>


      </ul>
    </div>
  </div>
</nav>
